<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% load staticfiles %}
    <title>Science and Technology Council, IIT BHU</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'councils/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'councils/css/clean-blog.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'councils/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div class="intro-header" background-image="img/iit.jpg" style="z-index:100;">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h3>Science and Technology Council<br>IIT BHU</h3>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>

    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    
                        <h2 class="post-title" style="color:red;">
                            About
                        </h2>
                        <p>
                            The Science and Technology Council has been at the forefront of technology since its inception.
                        </p>
                    
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->


    <!-- jQuery -->
    <script src="{% static 'councils/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'councils/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'councils/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'councils/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'councils/js/clean-blog.min.js' %}"></script>

</body>

</html>
